*
!*.C
!*.c
!*.cpp
!*.H
!*.h
!*.hpp
!*.l
!*.cf
!*.y
!*.md
!*.txt
!*.tex
!*.bib
!*.sty
!*.pdf
!*.g4
!*.g3
!*.bnf
!*.py
!*.sh
!*.java
!*.jpeg
!*.jpg
!*.tokens
!*.in
!.gitignore
!Makefile
# ...even if they are in subdirectories
!*/
